<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <body>
    <div class="container">
      <div class="table">
       <h1>Listings</h1>
        <table id="listings">
         <% if flash[:success] %>
        <div id="success">
          <%= flash[:success] %>
        </div>
         <% elsif flash[:deny] %>
        <div id="deny">
          <%= flash[:deny] %>
        </div>
        <% end %>
          <thead>
            <tr>
              <th>ID</th> 
              <th>Name</th>
              <th>Devices</th>
              <th>Date Created</th>
              <% if not @listings.all.size == 0 %>
                <th>More Info</th>
              <%end%>
            </tr>
          </thead>
          <tbody>
            <% @listings.each do |listing| %>
            <% if listing.id % 2 == 0%>
              <tr bgcolor = '#E7D9C3'>
            <% else %>
              <tr>
            <% end %>
                <td>
                  <%= listing.id %>
                </td>
                <td>
                  <%= listing.name %>
                </td>
                <td>
                  <%= listing.devices.size %>
                </td>
                <td>
                  <%= listing.time_created.strftime("%B %d, %Y ") + listing.time_created.strftime("%H:%M") %>
                </td>
                <td id="detail">
                  <%= link_to "Reservations and Devices", listing_path(listing) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= button_to 'Add New Listing', new_listing_path, :method => :get %>
      </div>
      <div id="footer" class="span-24">
        <p>Created by Grant Hoffmann</p>
      </div>
    </div>
  </body>
</html>