<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <body>
    <div class="container">
      <div class="table">
       <h1>Listings</h1>
        <table id="listings">
         <% if flash[:notice] %>
        <div id ="success">
          <%= flash[:notice] %>
        </div>
        <% end %>
          <thead>
            <tr>
              <th>ID</th> 
              <th>Name</th>
              <th>Devices</th>
              <th>Date Created</th>
              <% if not @listings.all.size == 0 %>
                <th>More Info</th>
              <%end%>
            </tr>
          </thead>
          <tbody>
            <% @listings.each do |listing| %>
              <tr>
                <td>
                  <%= listing.id %>
                </td>
                <td>
                  <%= listing.name %>
                </td>
                <td>
                  <%= listing.devices %>
                </td>
                <td>
                  <%= listing.time_created %>
                </td>
                <td id="detail">
                  <%= link_to "Info", listing_path(listing) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Add New Listing', new_listing_path %>
      </div>
      <div id="footer" class="span-24">
        <p>Created by Grant Hoffmann</p>
      </div>
    </div>
  </body>
</html>