<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<h2>Create New Listing</h2>

<%= form_tag listings_path, :method => :post do %>
  <%= label :listing, :name, 'Listing Name' %>
  <%= text_field :listing, :name %>
<div id = "footer">
<table>
  
<% end %>

<td><%= button_to 'Go Back', listings_path, :method => :get %></td>
<td><%= submit_tag 'Create Listing' %></td>
</table>
</div>


