<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<html>
<head>
<h1>Details about <%= @listing.name %> </h1>
 
 <div style="display: in-line">
  <table>
  <th><%= button_to 'Add New Reservation',  new_listing_reservation_path(:listing_id => @listing.id), :method => :get %></th>
  <th><%= button_to 'Add New Device', new_listing_device_path(:listing_id => @listing.id), :method => :get %></th> 
  <th>
    <%if (@listing.automation == 1)%>
        <%= button_to 'Turn Automation OFF', automation_listing_path, :method => :put%>
      <% else %>
        <%= button_to 'Turn Automation ON', automation_listing_path, :method => :put%>
    <% end %>
  </th>
  </table>
</div>
<div style ="display: block; height: 100px">
  <h2 style = "float: left; margin: 20px"> Reservations</h2>
  <h2 style = "float: right; margin: 20px"> Devices</h2>
 </div>
 </head>
<body>
  <% if flash[:success] %>
        <div id="success">
          <%= flash[:success] %>
        </div>
         <% elsif flash[:deny] %>
        <div id="deny">
          <%= flash[:deny] %>
        </div>
  <% end %>
<div style = "display: block;">
<table id="reservations" style = "float: left; display: table">
  <thead>
    <th>
      Reservation Name
    </th>
    <th>
      Start Date
    </th>
    <th>
      End Date
    </th>
  </thead>
  <tbody>
        <% @reservations.each do |res| %>
          <tr>
            <td>
              <%= link_to res.name, listing_reservation_path(res, :listing_id => res.listing_id) %>
            </td>
            <td>
              <%= res.start_date.strftime("%B %d, %Y")%>
            </td>
             <td>
              <%= res.end_date.strftime("%B %d, %Y") %>
            </td>
          </tr>
        <% end %>
  </tbody>
</table>


<table id="devices" style = "float: right; display: table">
  <thead>
    <th>
      Device Name
    </th>
    <th>
      ID
    </th>
  </thead>
  <tbody>
        <% @devices.each do |device| %>
          <tr>
            <td>
              <%= link_to device.name, listing_device_path(device, :listing_id => device.listing_id) %>
            </td>
            <td>
              <%= device.id %>
            </td>
          </tr>
        <% end %>
  </tbody>
</table>
</div>


</body>



<div id ="footer">
<table id = "buttons_table" >
  <th><%= button_to 'Back to Listings', listings_path, :method => :get %></th>    
  <th><%= button_to 'Delete Listing', listing_path(@listing), :method => :delete %></th>
  
</table>
</div>
</html>