<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<h2>Create New Device For Listing <%= @listing.name %></h2>

<%= form_tag listing_devices_path(:id => @listing.id), :method => :post do %>
  <%= label :device, :name, 'Device Name' %>
  <%= text_field :device, :name %>
  <%= label :device, :device_type, 'Device Type' %>
  <%= select :device, :device_type, ['Light', 'Lock', 'Thermostat'] %>
<div id = "footer">
<table>

<td><%= button_to 'Go Back', listing_path(:id => @listing.id), :method => :get %></td>  
<% end %>

<td><%= submit_tag 'Create Device' %></td>
</table>
</div>